<div class="mb">
    <div>
        {titleTOPIC} <span class="gray-text chart-explanation"> {cntAnswersTOPIC} Frage(n): {correctScoreTOPIC} von {maximumScoreTOPIC} möglichen Punkten</span>
    </div>
    <div class="bar-box">
        <div class="bar">
            <div style='width:{correctPercentageTOPIC}%'></div>
        </div>
        <span class="percent">{correctPercentageTOPIC}%</span>
    </div>
</div>
